---
import { CollectionEntry, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import TagList from "../../components/Blog/TagList.astro";

interface Props {
    entry: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
    const posts = await getCollection("posts");
    return posts.map((entry) => ({
        params: {
            slug: entry.slug,
        },
        props: {
            entry,
        },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();

const pubMonth = entry.data.date.toLocaleString("en", { month: "long" });
---

<Layout title={entry.data.title} description={entry.data.summary}>
    <article class="post">
        <a class="post-back" href="/posts">{"<-"} see all posts</a>
        <h1 class="post-title">{entry.data.title}</h1>
        <time
            class="post-date"
            datetime={entry.data.date.toLocaleString()}
            title={entry.data.date.toLocaleString()}
        >
            {pubMonth}
            {entry.data.date.getDate()}, {entry.data.date.getFullYear()}
        </time>
        <div class="contents">
            <Content class="contents" />
        </div>
        <h3>Tags</h3>
        <TagList tags={entry.data.tags} />
    </article>
</Layout>

<style is:global lang="scss">
    .post-back {
        text-decoration: none;
    }

    .post-title {
        border-left: 2px solid var(--cs-secondary);
        color: var(--cs-secondary);
        padding-left: 1rem;
    }

    .post-date {
        opacity: 0.7;
    }
</style>
